.error{
	
}

#email-error, 
#conf_email-error,
#senha-error, 
#conf_senha-error,
#razao-error,
#nomefantasia-error,
#cnpj-error,
#ie-error,
#nome-error,
#sobrenome-error,
#datanascimento-error,
#cpf-error,
#sexo-error,
#endereco-error,
#numero-error,
#complemento-error,
#bairro-error,
#cidade-error,
#estado-error,
#cep-error,
#telefone-error,
#celular-error,
#login_email {
    color: red;
    font-size: 0.8rem;
    padding: 0.2rem;
}

